@import "tailwindcss";

@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


:root .font-inter {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root .font-inter { font-family: InterVariable, sans-serif; }
  }